.more-button {
  .more-button-row {
    height: 2px;
    margin: 6px 0;
    width: 24px;

    @include themeGen() {
      background-color: getThemeVal('headerBarMoreButtonColor');
    }
  }

  &:hover .more-button-row {
    @include themeGen() {
      background-color: getThemeVal('headerBarMoreButtonHoverColor');
    }      
  }
}
