.menu-item {
  .link {
    display: block;
    padding: 16px 0;

    @include themeGen() {
      color: getThemeVal('menuItemTextColor');
    }

    &:hover {
      @include themeGen() {
        color: getThemeVal('menuItemHoverTextColor');
      }
    }
  }
}
