.button {
  border-radius: 100px;
  cursor: pointer;
  height: 50px;
  margin-bottom: 16px;
  padding: 0 16px;
  width: 100%;
  
  &:disabled {
    cursor:not-allowed;
    
    @include themeGen() {
      background-color: getThemeVal('buttonDisabledBackgroundColor') !important;
      border: 1px solid getThemeVal('buttonDisabledBorderColor') !important;
      color: getThemeVal('buttonDisabledTextColor') !important;
    }
  }

  &.is-link {
    @include themeGen() {
      color: getThemeVal('linkTextColor');
    }
  }

  &.is-link:hover {
    @include themeGen() {
      color: getThemeVal('linkTextColorHover');
    }
  }

  &.is-primary {
    @include themeGen() {
      background-color: getThemeVal('buttonPrimaryBackgroundColor');
      border: 1px solid getThemeVal('buttonPrimaryBorderColor');
      color: getThemeVal('buttonPrimaryTextColor');
    }
  }

  &.is-primary:hover, .button.is-primary:focus {
    @include themeGen() {
      background-color: getThemeVal('buttonPrimaryHoverBackgroundColor');
      border: 1px solid getThemeVal('buttonPrimaryHoverBorderColor');
      color: getThemeVal('buttonPrimaryHoverTextColor');
    }
  }

  &.is-secondary {
    @include themeGen() {
      background-color: getThemeVal('buttonSecondaryBackgroundColor');
      border: 1px solid getThemeVal('buttonSecondaryBorderColor');
      color: getThemeVal('buttonSecondaryTextColor');
    }
  }

  &.is-secondary:hover, &.is-secondary:active, &.is-secondary:focus {
    @include themeGen() {
      background-color: getThemeVal('buttonSecondaryHoverBackgroundColor');
      border: 1px solid getThemeVal('buttonSecondaryHoverBorderColor');
      color: getThemeVal('buttonSecondaryHoverTextColor');
    }
  }

  &.is-danger {
    @include themeGen() {
      background-color: getThemeVal('buttonDangerBackgroundColor');
      border: 1px solid getThemeVal('buttonDangerBorderColor');
      color: getThemeVal('buttonDangerTextColor');
    }
  }

  &.is-danger:hover, &.is-danger:active, &.is-danger:focus {
    @include themeGen() {
      background-color: getThemeVal('buttonDangerHoverBackgroundColor');
      border: 1px solid getThemeVal('buttonDangerHoverBorderColor');
      color: getThemeVal('buttonDangerHoverTextColor');
    }
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .top-text {
      font-size: 16px;
      font-weight: 700;
    }
    
    .bottom-text {
      font-size: 13px;
      margin-top: 2px;
    }
  }
}
