.button {
  border-radius: 100px;
  cursor: pointer;
  height: 50px;
  margin-bottom: 16px;
  padding: 0 16px;
  width: 100%;
  
  &:disabled {
    background-color: #808080 !important;
    border: 1px solid #808080 !important;
    color: #cccccc !important;
    cursor:not-allowed;
  }

  &.is-link {
    color: #74a8dc;
  }

  &.is-link:hover {
    color: #49a4ff;
  }

  &.is-primary {
    background-color: #3d9dfe;
    border: 1px solid #3d9dfe;
    color: #000000;
  }

  &.is-primary:hover, .button.is-primary:focus {
    background-color: #49a4ff;
    border: 1px solid #49a4ff;
  }

  &.is-secondary {
    background-color: #252a6499;
    border: 1px solid #252a6499;
    color: #ffffff;
  }

  &.is-secondary:hover, &.is-secondary:active, &.is-secondary:focus {
    background-color: #34397b;
    border: 1px solid #34397b;
  }

  &.is-danger {
    background-color: #bd2130;
    border: 1px solid #bd2130;
    color: #ffffff;
  }

  &.is-danger:hover, &.is-danger:active, &.is-danger:focus {
    background-color: #c43745;
    border: 1px solid #c43745;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .top-text {
      font-size: 16px;
      font-weight: 700;
    }
    
    .bottom-text {
      font-size: 13px;
      margin-top: 2px;
    }
  }
}
