$themes: (
  'podverse': (
    'buttonDisabledBackgroundColor': #808080,
    'buttonDisabledBorderColor': #808080,
    'buttonDisabledTextColor': #CCCCCC,

    'buttonPrimaryBackgroundColor': #3D9DFE,
    'buttonPrimaryBorderColor': #3D9DFE,
    'buttonPrimaryTextColor': #000000,
    'buttonPrimaryHoverBackgroundColor': #49A4FF,
    'buttonPrimaryHoverBorderColor': #49A4FF,
    'buttonPrimaryHoverTextColor': #000000,

    'buttonSecondaryBackgroundColor': #252a6499,
    'buttonSecondaryBorderColor': #252a6499,
    'buttonSecondaryTextColor': #FFFFFF,
    'buttonSecondaryHoverBackgroundColor': #34397b,
    'buttonSecondaryHoverBorderColor': #34397b,
    'buttonSecondaryHoverTextColor': #FFFFFF,

    'buttonDangerBackgroundColor': #BD2130,
    'buttonDangerBorderColor': #BD2130,
    'buttonDangerTextColor': #FFFFFF,
    'buttonDangerHoverBackgroundColor': #C43745,
    'buttonDangerHoverBorderColor': #C43745,
    'buttonDangerHoverTextColor': #FFFFFF,

    'headerBarBorderColor': #CCCCCC,
    'headerBarMoreButtonColor': #FFFFFF,
    'headerBarMoreButtonHoverColor': #CCCCCC,

    'linkTextColor': #74A8DC,
    'linkTextColorHover': #49A4FF,

    'loadingSpinnerIndicatorColor': #FFFFFF,
    'loadingSpinnerTransparentColor': rgba(255, 255, 255, 0.2),

    'menuItemTextColor': #FFFFFF,
    'menuItemHoverTextColor': #CCCCCC,

    'popupBackgroundColor': #000000,
    'popupBorderColor': #333333
  ),
  'podverse-light': ()
);

/**
* Code created by Joshua Tzucker
* https://joshuatz.com/posts/2019/coding-a-css-theme-switcher-a-multitude-of-web-dev-options/#method-b
* 
* Mixin to use to generate blocks for each theme
* Automatically takes @content
*/
$scopedTheme: null;
@mixin themeGen($allThemesMap: $themes) {
    @each $themeName, $themeMap in $allThemesMap {
        .theme-#{$themeName} & {
            // Creating a map that contains values specific to theme.
            // Global is necessary since in mixin
            $scopedTheme: () !global;
            @each $variableName, $variableValue in $themeMap {
                // Merge each key-value pair into the theme specific map
                $scopedTheme: map-merge($scopedTheme, ($variableName: $variableValue)) !global;
            }
            // The original content passed
            @content;
            // Unset
            $scopedTheme: null !global;
        }
    }
}
/**
* Function to call within themeGen mixin, to get value from the current theme in the iterator
*/
@function getThemeVal($themeVar){
    @return map-get($scopedTheme,$themeVar);
}
