.popup-wrapper {
  border: 1px solid;
  display: flex;
  flex: 1;
  
  @include themeGen() {
    background-color: getThemeVal('popupBackgroundColor');
    border-color: getThemeVal('popupBorderColor');
    color: getThemeVal('textColor');
  }
}
