.header-bar {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 44px;
  justify-content: space-between;
  padding: 0 8px;

  @include themeGen() {
    border-bottom: 1px solid getThemeVal('headerBarBorderColor');
  }
}