.text-input {
  margin: 0 0 16px 0;
  position: relative;

  .text-input-outer-wrapper {
    align-items: center;
    border-color: transparent;
    border-radius: $item-border-radius !important;
    border-style: solid;
    border-width: $border-width-default;
    display: flex;
    flex-direction: row;
    padding: 10px 16px;

    @include themeGen() {
      background-color: getThemeVal('textInputBackgroundColor') !important;
    }
  
    &:focus-within {
      @include themeGen() {
        border-color: getThemeVal('textInputFocusBorderColor');
      }
    }

    .text-input-inner-wrapper {
      display: flex;
      flex: 1;
      flex-direction: column;
      height: 42px;
  
      .eyebrow {
        font-size: 14px;
        font-weight: 700;
        margin: 0 0 2px 0;
  
        @include themeGen() {
          color: getThemeVal('textInputEyebrowColor') !important;
        }
      }
  
      input {
        font-size: 18px;
        height: 42px;

        @include themeGen() {
          color: getThemeVal('textInputTextColor');
        }
  
        &::placeholder {
          @include themeGen() {
            color: getThemeVal('textInputPlaceholderColor');
          }
        }
      }

      .eyebrow + input {
        height: 24px;
      }
    }
  }
}
