.text-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  label {
    flex: 1;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  input {
    flex: 1;
    font-size: 18px;
    height: 44px;
    padding: 8px;
  }
}