.boost {
  .podcast-info {
    margin-bottom: 32px;
    
    .podcast-title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 4px;
    }
    
    .episode-title {
      font-size: 16px;
    }
  }

  .boost-wrapper {

    .boost-button {
      margin-bottom: 24px;
    }
  }

  hr {
    margin: 16px 0;
  }
}
