.boost {
  .podcast-info {
    margin-bottom: 28px;
    
    .podcast-title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 4px;
    }
    
    .episode-title {
      font-size: 16px;
    }
  }

  .stream-wrapper {
    .stream-button {
      margin: 0 0 24px 0;
    }
  }

  .boost-wrapper {
    .boost-button {
      margin-bottom: 24px;
    }
    .text-area-wrapper {
      margin-bottom: 12px;
    }
  }

  hr {
    margin: 16px 0;
  }
}
