.boost {
  .podcast-info {
    margin-bottom: 24px;
    
    .podcast-title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 4px;
    }
    
    .episode-title {
      font-size: 16px;
    }
  }

  .boost-wrapper {
    margin-bottom: 8px;

    .boost-button {
      margin-bottom: 20px;
    }
  }
}
