.export-wallet {
  .back-button {
    margin-bottom: 16px;
  }

  hr {
    margin: 8px 0 24px 0;
  }

  #qr-code-canvas {
    height: 300px !important;
    margin-top: 8px;
    width: 300px !important;
  }
}
