input[type=checkbox] {
  transform: scale(1.5);
}

.checkbox {
  margin: 20px 0 16px 0;
}

.checkbox label {
  display: flex;
  justify-content: flex-start;
}

.checkbox label input {
  margin: 0 10px 0 4px;
}

.checkbox label .text {
  font-size: 14px;
  font-weight: 700;
  margin-top: -2px;
}
