.recipient-table {
  word-break: break-word;
  
  .recipient-table-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 4px 0 12px 0;

    .recipient-table-header-text {
      font-size: 16px;
      font-weight: 700;
    }
    
    .toggle-show-more-info {
      cursor: pointer;
      font-size: 14px;
    }
  }
  
  .recipient {
    font-size: 14px;
    margin-bottom: 8px;

    @include themeGen() {
      color: getThemeVal('textSecondaryColor');
    }
    
    .recipient-table-row {
      display: flex;
      justify-content: space-between;

      .name {
        font-weight: 600;
      }
      
      .split {
        flex: 0 0 auto;
        margin-left: 16px;
      }
    }
  }
}
