.recipient-table {
  word-break: break-word;
}

.recipient-table .recipient-table-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 4px 0 12px 0;
}

.recipient-table .recipient-table-header .recipient-table-header-text {
  font-size: 16px;
  font-weight: 700;
}

.recipient-table .recipient-table-header .toggle-show-more-info {
  cursor: pointer;
  font-size: 14px;
}

.recipient-table .recipient {
  font-size: 14px;
  margin-bottom: 8px;
}

.recipient-table .recipient .name {
  font-weight: 700;
}

.recipient-table .recipient .recipient-table-row {
  display: flex;
  justify-content: space-between;
}
